{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
  {% for birthday in birthdays %}
    <div>
      <div>
        {{ birthday.first_name }} {{ birthday.last_name }} - {{ birthday.birthday }}
        <br>До дня рождения осталось {{ birthday_countdown_list|lookup:forloop.counter0 }} дней!
        <div>
          <a href="{% url 'birthday:edit' birthday.id %}">Изменить запись</a>
          <a href="{% url 'birthday:delete' birthday.id %}">Удалить запись</a>
        </div>
      </div>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}